@font-face {
  font-family: "Providence";
  src: url("./assets/fonts/Providence-Sans.otf");
}

* {
  font-family: "Providence";
  font-weight: 900;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
