.pg5 {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: url("../../assets/bg-extended.jpg");
  background-size: 500%;
  background-position: bottom left;
  background-repeat: no-repeat;
  padding-top: 20vw;
  .meerkat {
    position: absolute;
    top: -2%;
  }
  img {
    width: 30vw;
  }
}
.treeTrunkContainer {
  position: relative;
  .libraryImg,
  .theatre {
    position: absolute;
    width: 30vw;
  }
  .libraryImg {
    top: -10%;
    left: 0;
    width: 20vw;
  }
  .theatre {
    bottom: 10%;
    right: 0;
  }
  .treeTrunk {
    width: 100vw;
  }

  .boardLong {
    position: absolute;
    width: 60vw;
    // bottom: -15%;
    top: 40%;
    left: 0;
  }
  .video1,
  .video2 {
    position: absolute;
    width: 40vw;
    aspect-ratio: 1/0.7;
    object-fit: cover;
    left: 6%;
    box-shadow: rgba(0, 0, 0, 0.105) 0px 3px 8px;
    border-radius: 20%;
    border: 1px solid rgba(5, 5, 5, 0.473);
  }
  .video1 {
    top: 50%;
  }
  .video2 {
    top: 74%;
  }
}
.library,
.mallSection {
  position: relative;
  .containerrr {
    position: absolute;
    margin: auto;

    width: 70%;
    height: 55vw;

    .board {
      width: 100%;
    }

    .narrateButton,
    .text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .narrateButton {
      width: 10vw;
      top: 40%;
      z-index: 999;
    }
    .freeSample,
    .freeSampleText {
      position: absolute;
      bottom: 4%;
      z-index: 999;
    }
    .freeSample {
      left: 5%;
      width: 2rem;
    }
    .freeSampleText {
      left: 15%;
      color: white;
    }
    .text {
      width: 85%;
      text-align: center;
      top: 60%;
    }
    .board {
      position: absolute;
      //   width: 80vw;
      top: 0;
    }
    .illuButton {
      position: absolute;
      width: 30vw;
      left: 0;
      bottom: -2%;
      // transform: translateY(10rem);
      z-index: 99;
    }
    .illuButton2,
    .illuButton2Text {
      position: absolute;
      z-index: 999;
    }
    .illuButton2 {
      width: 30vw;
      right: 0;
      bottom: -2%;
    }
    .illuButton2Text {
      right: 14%;
      color: white;
      bottom: 3%;
    }
    iframe {
      width: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      aspect-ratio: 16/9;
      position: absolute;
    }
    .descriptionImage {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      width: fit-content;
      z-index: 999;
      left: 50%;
      top: -50%;
      transform: translateX(-50%);
      img {
        height: 40vw;
      }

      span {
        border-radius: 1rem;
        padding: 0.1rem 0.4rem;
        border: 2px solid black;
        font-size: 0.7rem;
        // width: 100%;
        width: fit-content;
        text-align: center;
        z-index: 3;
        box-shadow: -4px -2px 0px 2px #ff74e3b2;
        background: #ff74e3fe;
      }
    }
  }
}
.library {
  //   height: 100vw;
  .libraryTree {
    width: 50vw;
  }
  .containerrr {
    position: absolute;
    top: 30%;
    right: 0;
  }
}
.commonBG {
  background: url("../../assets/bgMall.png");
  background-size: cover;
  background-position: 0%;
}
.mallSection {
  height: 90vh;
  .mall {
    position: absolute;
    width: 90vw;
    bottom: 0;
  }
  .containerrr {
    bottom: 2%;
    position: absolute;
    transform: translateX(-30%);
    left: 50%;
  }
}
.comingsoon {
  display: grid;
  place-items: center;
  img {
    width: 50vw;
  }
}
.rock2 {
  display: none;
}
@media (min-width: 480px) {
  .comingsoon {
    img {
      width: 30vw;
    }
  }
  .mallSection {
    height: 100vw;
    .mall {
      width: 50vw;
    }
    .containerrr {
      width: 40vw;
      height: 32.5vw;
      left: 70%;
      bottom: 50%;
      .illuButton {
        width: 20vw;
      }
      .descriptionImage {
        top: -30%;
        img {
          height: 20vw;
        }
      }
    }
  }
  .rock2 {
    display: none;
  }
  .pg5 {
    .meerkat {
      top: 10%;
    }
    img {
      width: 20vw;
    }
  }
  .library {
    .containerrr {
      //   right: 50%;
      transform: translateX(-50%);
      width: 30%;
      height: 24.4vw;
      .narrateButton {
        width: 4vw;
      }
      .illuButton {
        width: 15vw;
      }
      .descriptionImage {
        width: fit-content;
        img {
          height: 20vw;
        }
      }
    }
  }
  .treeTrunkContainer {
    .video1,
    .video2 {
      width: 30vw;
      left: 12%;
    }
    .video1 {
      top: 50%;
    }
    .video2 {
      top: 70%;
    }
  }
}
